Package: live-boot
Version: 1:20210208
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Original-Maintainer: Debian Live Maintainers <debian-live@lists.debian.org>
Installed-Size: 143
Depends: live-boot-initramfs-tools | live-boot-backend
Recommends: live-boot-doc, live-tools, rsync, uuid-runtime
Suggests: cryptsetup, curlftpfs, httpfs2, wget
Section: misc
Priority: optional
Homepage: https://wiki.debian.org/DebianLive
Description: Live System Boot Components
 The Debian Live project maintains the components to build Debian based Live
 systems and the official Debian Live images themselves.
 .
 live-boot contains the components to configure a live system during the boot
 process (early userspace). Do not install this package on your regular system,
 it is only meant to be used in a live image.
 .
 In addition to live-boot, a backend for the initrd generation is required, such
 as live-boot-initramfs-tools.
